/****** Object:  Table [SalesLT].[Address]    Script Date: 19.05.2023 16:47:12 ******/
SET ANSI_NULLS ON
 
SET QUOTED_IDENTIFIER ON
 
CREATE TABLE [SalesLT].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](60) NOT NULL,
	[AddressLine2] [nvarchar](60) NULL,
	[City] [nvarchar](30) NOT NULL,
	[StateProvince] [nvarchar](60) NOT NULL,
	[CountryRegion] [nvarchar](60) NOT NULL,
	[PostalCode] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Address_AddressID] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
 
SET IDENTITY_INSERT [SalesLT].[Address] ON 

INSERT [SalesLT].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [rowguid], [ModifiedDate]) VALUES (9, N'8713 Yosemite Ct.', NULL, N'Bothell', N'Washington', N'United States', N'98011', N'268af621-76d7-4c78-9441-144fd139821a', CAST(N'2006-07-01T00:00:00.000' AS DateTime))
INSERT [SalesLT].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [rowguid], [ModifiedDate]) VALUES (11, N'1318 Lasalle Street', NULL, N'Bothell', N'Washington', N'United States', N'98011', N'981b3303-aca2-49c7-9a96-fb670785b269', CAST(N'2007-04-01T00:00:00.000' AS DateTime))
INSERT [SalesLT].[Address] ([AddressID], [AddressLine1], [AddressLine2], [City], [StateProvince], [CountryRegion], [PostalCode], [rowguid], [ModifiedDate]) VALUES (25, N'9178 Jumping St.', NULL, N'Dallas', N'Texas', N'United States', N'75201', N'c8df3bd9-48f0-4654-a8dd-14a67a84d3c6', CAST(N'2006-09-01T00:00:00.000' AS DateTime))
 
 
 
 
SET IDENTITY_INSERT [SalesLT].[Address] OFF
 
/****** Object:  Index [AK_Address_rowguid]    Script Date: 19.05.2023 16:47:16 ******/
ALTER TABLE [SalesLT].[Address] ADD  CONSTRAINT [AK_Address_rowguid] UNIQUE NONCLUSTERED 
(
	[rowguid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
 
ALTER TABLE [SalesLT].[Address] ADD  CONSTRAINT [DF_Address_rowguid]  DEFAULT (newid()) FOR [rowguid]
 
ALTER TABLE [SalesLT].[Address] ADD  CONSTRAINT [DF_Address_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
 
